# Python Practice
## Python Practice

**bold text**


*italics*

1. list
2. list

**lllllll**
- list 
- list

| Syntax | Description |
| ----------- | ----------- |
| Header | Title |
| Paragraph | Text |

[DisplayTextHere](https://www.example.com)

In [1]:
x = 100

In [2]:
type(x)

int

In [3]:
x = 'mystring'

In [4]:
type(x)

str

In [5]:
x = 1.0

In [6]:
list, dict, set, tuple

(list, dict, set, tuple)

In [7]:
x = [1, '2sfsadfs', 3, 8, 10, 12]

In [8]:
x = list(range(100))

In [9]:
type(x)

list

In [10]:
print (x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [11]:
print (x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

#### Dictionary is a collection of key value pairs

In [12]:

x = {"student1": [35, 22], 'student2': [35, 22], 'student3': [35, 22]}
X = {"student1": 35, 'student2': 42, 'student3': 34}



# """
# this is line 1 of multiline string 
# this is line 2 of multiline string 
# """

In [13]:
x

{'student1': [35, 22], 'student2': [35, 22], 'student3': [35, 22]}

In [14]:
X

{'student1': 35, 'student2': 42, 'student3': 34}

In [81]:
y_dict = {"student1": 35, 'student2': 42, 'student3': 23}

In [47]:
x_list

[1, 2, 3, 8, 10, 12]

In [80]:
y_dict[0]

KeyError: 0

In [52]:
x_list.reverse()

In [87]:
x_list.append(8)
x_list.sort()

In [73]:
x_list = [1, 2, 155, 3, 112, 8, 10, 12]
after_sort = x_list.sort(reverse=True)

In [75]:
test = x_list.append(110)

In [90]:
x_list
mySet = set(x_list)

In [95]:
test_list = ['A', 1, 2,3, 'A']
test_list

['A', 1, 2, 3, 'A']

In [97]:
testSet = set(test_list)

In [98]:
testSet

{1, 2, 3, 'A'}

In [36]:
myStr = 'sometext'
myInt = 1000000000

In [99]:
type(mySet)

set

In [79]:
x_list[1]

112

In [29]:
myStr

'sometext'

In [44]:
myTuple = (2,4)

In [ ]:
myTuple.

In [100]:
type(myTuple)

tuple

In [120]:
def custom_function(myList):
    '''
    This function adds 2 numbers and cubes the result.
    But if you have 2 lines then what
    '''
    SUM = 0
    for itm in myList:
        SUM = SUM + itm
    AVG = SUM/len(myList)
    
    return AVG

In [102]:
result1 = 1 + 2
result2 = 2 + 3

result1_sqr = result1 * result1
result2_sqr = result2 * result2
print (result1_sqr)
print (result2_sqr)

9
25

In [118]:
print (custom_function(1.5))
print (custom_function(2.5, 3.5))

132.25
36.0

In [1]:
import numpy as np

myList = [1,2,3,4,5,6]

np.mean(myList)

3.5

### 8th DEC 2018

In [10]:
dic = {'a' : 1.23, 'b' : 4.56}
for i in dic:
    print (i, dic[i])
    print("{0:s} = {1}".format(i, dic[i]))

a 1.23
a = 1.23
b 4.56
b = 4.56

In [11]:
dic['a']

1.23

In [14]:
mystr = 'this is a string'

In [36]:
print("Sammy ate {0:.2f} percent of a {1:s} in {2:.9f} days!".format(75, "pizza", 2.512345123))

Sammy ate 75.00 percent of a pizza in 2.512345123 days!

In [1]:
print("Sammy has {0:4} red {1:16} actually!".format(5, "balloons"))

Sammy has    5 red balloons         actually!

### 11 DEC 2018

In [32]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def say_hi(self):
        print('Hi, my name is', self.name)
    
    def say_hello(self):
        print('Hello, my name is', self.name)
    
    def __del__(self):
        print ('deleted')

In [33]:
minh = Person('Minh', 18)
srikanta=  Person ('srikanta', 16)

deleted

In [23]:
import pandas as pd

In [ ]:
pd.Float64Index

In [12]:
type(srikanta)

__main__.Person

In [28]:
srikanta.

In [34]:
dave = Person('Dave', 21)

deleted